{% extends "base.html" %}
{% load i18n %}
{% load compress %}

{% block style %}
  {% compress css %}
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/white_page.css" />
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/workgroup-contrib.css" />
  {% endcompress %}
{% endblock %}

{% block nav %} {% include "nav.html" %} {% endblock %}

{% block content %}
<div class="content">        

    <div class="container_18 contributions">
        <div class="grid_4 alpha" id="infos_column">
            jhf<br />Blablabla<br />jlkhkjhl 
        </div>    
        
        <div class="grid_10" id="contrib_column">
            {% block contrib-list %}{% endblock %}        
        </div>
        
        <div class="grid_4" id="ressources_column">
            jhf<br />Blablabla<br />jlkhkjhl 
        </div>
    <div class="clear"></div>
    </div>
    <div class="clear"></div>
    
</div>
{% endblock %}