{% load i18n %}


{% block contrib-detail %}
    <img src="http://imaginationforpeople.org/site_media/mugshots/dcc99a7484.jpg" alt="User name" class="avatar" />
    <div class="comment-body">
        <span class="comment-infos"><a href="#" class="username">User Name</a> | 12 Novembre 2011</span>
            <span class="comment-answers"><a href="javascript:;" class="see_answer">{% trans '12 answers &gt;' %}</a></span>
        <p class="comment">
            Lorem ipsum dolor sit amet, <a href="#">consectetur adipiscing</a> elit. Cras id velit vitae enim consequat sodales ut ut tellus. In hac habitasse platea dictumst. Nam mi lectus, fermentum sed mattis eget, rutrum et orci. Quisque eget erat nibh, ultrices fermentum augue ...
        </p>
        <span class="comment-actions"><a href="javascript:;" class="answer_button">{% trans 'Answer' %}</a> | <a href="javascript:;" id="vote_button">{% trans 'Vote' %}</a></span>
    </div>
    
    <div class="clear"></div>
    
    <form class="contrib-form hidden" action="#" method="post">
        {% csrf_token %}
        <input type="text" class="comment-field" />
        <input title="{% trans 'Ok'|capfirst %}" class="button greenbutton nomargin right" type="image" src="{{ STATIC_URL }}images/base/v.png" alt="Ok" />							
    </form>
    
    <div class="clear"></div>
{% endblock %}